<html>

<body>

  <h1>Profile Details</h1>


  <table>
    <tr>
      <td>First Name:</td>
      <td>{{show.firstname}}</td>
    </tr>
    <tr>
      <td>LastNamme:</td>
      <td>{{show.lastname}}</td>
    </tr>
    <tr>
      <td>EmailID:</td>
      <td>{{show.emailid}}</td>
    </tr>
    <tr>
      <td>Contact:</td>
      <td>{{show.contact}}</td>
    </tr>
    <tr>
      <td>Password :</td>
      <td> {{show.password}}</td>
    </tr>
    <tr>
      <td>Confirm Password :</td>
      <td> {{show.confirmpassword}}</td>
    </tr>
    <tr>
      <td>Gender:</td>
      <td> {{show.gender}}</td>
    </tr>
    <tr>
      <td>Employee ID :</td>
      <td> {{show.empid}}</td>
    </tr>
  </table>
  <button type="button" (click)="backtoedit()">Edit Form</button>
</body>

</html>
